.skills {
  background-color: #435969;
  display: flex;
  height: 100%;
  width: 100%;
  top: 0px;
  align-items: center;
}

.skillsContainer {
  display: flex;
  width: fit-content;
  height: fit-content;
}

.myskills {
  position: relative;
  width: fit-content;
  margin-left: 25%;
  text-align: left;
}

.myskills h6 {
  margin-bottom: 0px;
  margin-top: 10px;
}

.myskills p {
  margin-top: 0px;
  font-size: 2vh;
}

/*Responsiveness: Ipad Pro*/
@media only screen and (max-width: 1024px) {
  .skillsContainer {
    margin-left: 0px;
  }

  .myskills {
    margin: 0px;
    width: 360px;
  }

  .skillsTitle {
    padding-left: 110%;
  }

  .skillsSubtitleLanguages {
    padding-left: 105%;
  }

  .skillsSubtitleFrameworks {
    padding-left: 75%;
  }

  .skillsSubtitleTools {
    padding-left: 123%;
  }

  .skillsContent {
    width: 800px;
    text-align: center;
    padding-left: 35%;
  }
}

/*Responsiveness: Ipad*/
@media only screen and (max-width: 768px) {
  .skillsContainer {
    margin-left: 0px;
  }

  .myskills {
    margin: 0px;
    width: 360px;
  }

  .skillsTitle {
    padding-left: 85%;
  }

  .skillsSubtitleLanguages {
    padding-left: 80%;
  }

  .skillsSubtitleFrameworks {
    padding-left: 58%;
  }

  .skillsSubtitleTools {
    padding-left: 90%;
  }

  .skillsContent {
    width: 500px;
    text-align: center;
    padding-left: 35%;
  }
}

/*Responsiveness: Iphone 6/7/8 Plus*/
@media only screen and (max-width: 414px) {
  .skillsContainer {
    margin-left: 15px;
  }

  .myskills {
    margin: 0px;
    width: 360px;
  }

  .skillsTitle {
    padding-left: 36%;
  }

  .skillsSubtitleLanguages {
    padding-left: 34%;
  }

  .skillsSubtitleFrameworks {
    padding-left: 20%;
  }

  .skillsSubtitleTools {
    padding-left: 43%;
  }

  .skillsContent {
    width: 300px;
    text-align: center;
    padding-left: 10%;
  }
}

/*Responsiveness: Pixel 2*/
@media only screen and (max-width: 411px) {
  .skillsContainer {
    margin-left: 15px;
  }

  .myskills {
    margin: 0px;
    width: 360px;
  }

  .skillsTitle {
    padding-left: 36%;
  }

  .skillsSubtitleLanguages {
    padding-left: 34%;
  }

  .skillsSubtitleFrameworks {
    padding-left: 20%;
  }

  .skillsSubtitleTools {
    padding-left: 43%;
  }

  .skillsContent {
    width: 300px;
    text-align: center;
    padding-left: 10%;
  }
}

/*Responsiveness: Iphone X/6/7/8*/
@media only screen and (max-width: 375px) {
  .skillsContainer {
    width: 375px;
    margin-left: 0px;
  }

  .myskills {
    margin: 0px;
    width: 360px;
    padding-left: 10px;
  }

  .skillsTitle {
    padding-left: 34%;
  }

  .skillsSubtitleLanguages {
    padding-left: 34%;
  }

  .skillsSubtitleFrameworks {
    padding-left: 20%;
  }

  .skillsSubtitleTools {
    padding-left: 40%;
  }

  .skillsContent {
    width: 300px;
    text-align: center;
    padding-left: 7%;
  }
}

/*Responsiveness: Moto G4*/
@media only screen and (max-width: 360px) {
  .skillsContainer {
    margin-left: 0px;
  }

  .myskills {
    padding-left: 6%;
    width: fit-content;
  }

  .skillsTitle {
    padding-left: 36%;
  }

  .skillsSubtitleLanguages {
    padding-left: 36%;
  }

  .skillsSubtitleFrameworks {
    padding-left: 22%;
  }

  .skillsSubtitleTools {
    padding-left: 42%;
  }

  .skillsContent {
    width: 300px;
    text-align: center;
    padding-left: 7%;
  }
}

/*Responsiveness: Iphone 5/SE*/
@media only screen and (max-width: 320px) {
  .skillsContainer {
    margin-left: 0px;
    padding-left: 3%;
  }

  .myskills {
    margin: 0px;
    width: 320px;
  }

  .skillsTitle {
    padding-left: 40%;
  }

  .skillsSubtitleLanguages {
    padding-left: 38%;
  }

  .skillsSubtitleFrameworks {
    padding-left: 22%;
  }

  .skillsSubtitleTools {
    padding-left: 47%;
  }

  .skillsContent {
    width: 300px;
    text-align: center;
    padding-left: 10%;
  }
}
