.contact {
  display: flex;
  height: 100%;
  width: 100%;
  top: 0px;
  align-items: center;
  background-color: #e7f0ed;
}

.contactContent {
  display: flex;
  width: fit-content;
  height: fit-content;
}

.contactme {
  position: relative;
  width: fit-content;
  margin-left: 35%;
  text-align: left;
}

.contactme h6 {
  margin-bottom: 0px;
  margin-top: 10px;
}

/*Responsiveness: Ipad Pro - width*/
@media only screen and (max-width: 1024px) {
  .contact {
    width: 1024px;
  }

  .contactContent {
    margin-left: 30px;
    width: 360px;
  }

  .contactme {
    width: fit-content;
    padding-left: 55%;
  }

  .contactTitle {
    padding-left: 22%;
    margin-bottom: 60px;
    text-align: center;
    line-height: 80px;
  }

  .sociallinks {
    width: fit-content;
    padding-left: 60%;
  }
}

/*Responsiveness: Ipad - width*/
@media only screen and (max-width: 768px) {
  .contact {
    width: 768px;
  }

  .contactContent {
    margin-left: 30px;
    width: 360px;
  }

  .contactme {
    width: fit-content;
    padding-left: 35%;
  }

  .contactTitle {
    padding-left: 22%;
    margin-bottom: 60px;
    text-align: center;
    line-height: 45px;
  }

  .sociallinks {
    width: fit-content;
    padding-left: 60%;
  }
}

/*Responsiveness: Pixel 2*/
@media only screen and (max-width: 414px) {
  .contact {
    width: 411px;
  }

  .contactContent {
    margin-left: 30px;
    width: 360px;
  }

  .contactme {
    padding-left: 0%;
    width: fit-content;
  }

  .contactTitle {
    padding-left: 0%;
    margin-bottom: 60px;
    text-align: center;
    line-height: 45px;
  }

  .sociallinks {
    width: fit-content;
    padding-left: 35%;
  }
}

/*Responsiveness: Pixel 2*/
@media only screen and (max-width: 411px) {
  .contact {
    width: 411px;
  }

  .contactContent {
    margin-left: 30px;
    width: 360px;
  }

  .contactme {
    padding-left: 0%;
    width: fit-content;
  }

  .contactTitle {
    padding-left: 0%;
    margin-bottom: 60px;
    text-align: center;
    line-height: 45px;
  }

  .sociallinks {
    width: fit-content;
    padding-left: 35%;
  }
}

/*Responsiveness: Iphone X/6/7/8 - width*/
@media only screen and (max-width: 375px) {
  .contact {
    width: 370px;
  }

  .contactContent {
    width: 360px;
  }

  .contactme {
    margin-left: 0px;
    padding-left: 20px;
  }

  .contactTitle {
    width: fit-content;
    padding-left: 18%;
  }

  .sociallinks {
    width: fit-content;
    padding-left: 48%;
  }
}

/*Responsiveness: Moto G4*/
@media only screen and (max-width: 360px) {
  .contact {
    width: 375px;
  }

  .contactContent {
    margin-left: 30px;
    width: 360px;
  }

  .contactTitle {
    width: fit-content;
    padding-left: 20%;
  }

  .sociallinks {
    width: fit-content;
    padding-left: 48%;
  }
}

/*Responsiveness: Iphone 5/SE*/
@media only screen and (max-width: 320px) {
  .contact {
    width: 320px;
    margin-left: 50px;
  }

  .contactContent {
    margin-left: 0px;
    width: 320px;
    padding-left: 12%;
  }

  .contactTitle {
    width: fit-content;
    padding-left: 18%;
  }

  .sociallinks {
    width: fit-content;
    padding-left: 45%;
  }
}
