.home {
  display: flex;
  height: 100%;
  width: 100%;
  top: 0px;
  background-color: #212931;
  align-items: center;
}

.homeContent {
  display: flex;
  width: fit-content;
  height: fit-content;
}

.hello {
  position: relative;
  width: fit-content;
  margin-left: 25%;
  text-align: left;
  animation-name: fadeHome;
  animation-duration: 4s;
}

/*Responsiveness: Ipad Pro width*/
@media only screen and (max-width: 1024px) {
  .homeContent {
    margin-left: 12%;
  }
}

/*Responsiveness: Ipad width*/
@media only screen and (max-width: 768px) {
  .homeContent {
    margin-left: 12%;
  }
}

/*Responsiveness: Iphone 6/7/8 Plus*/
@media only screen and (max-width: 414px) {
  .homeContent {
    margin-left: 0%;
  }
}

/*Responsiveness: Pixel 2*/
@media only screen and (max-width: 411px) {
  .homeContent {
    margin-left: 0%;
  }
}

/*Responsiveness: Iphone X/6/7/8*/
@media only screen and (max-width: 375px) {
  .homeContent {
    margin-left: 0%;
  }
}

/*Responsiveness: Moto G4*/
@media only screen and (max-width: 360px) {
  .homeContent {
    margin-left: 4%;
  }
}

/*Responsiveness: Iphone 5/SE*/
@media only screen and (max-width: 320px) {
  .homeContent {
    margin-left: 20%;
  }
}

/*Animations*/
@keyframes fadeHome {
  from {
    color: #212931;
  }
  to {
    color: #000000;
  }
}
