.App {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-y: scroll;
}
.App::-webkit-scrollbar {
  width: 10px;
}

.App::-webkit-scrollbar-track {
  background: #212931;
}

.App::-webkit-scrollbar-thumb {
  background-color: #e7f0ed;
  border-radius: 20px;
  border: 3px solid #e7f0ed;
}


.html, body {
  overflow-x: hidden;
}


.body {
  position: relative;
  width: 100vw;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #212931;
}

body::-webkit-scrollbar-thumb {
  background-color: #e7f0ed;
  border-radius: 20px;
  border: 3px solid #e7f0ed;
}

/*Responsiveness: Ipad Pro*/
@media only screen and (max-width: 1024px) {

  body {
    width: 1024px;
  }

  body h1 {
    font-size: 5vh;
  }

  body h6 {
    font-size: 2vh;
  }
}


/*Responsiveness: Iphone X*/
@media only screen and (max-width: 375px) {
  body h1 {
    font-size: 4vh;
  }

  body h6 {
    font-size: 3vh;
  }
}
